<!DOCTYPE html>
<html>
<head>
	<title>Account | Setting</title>
</head>
<body>
  
             <form class="f2 form-inline"> 
              <div class="form-group" >
                <label for="username">Your Username</label> <br>
                <input id="username" type ="text" class="inp2 form-control">
                <br><label for="chnp">Change Password</label> <br>
                <input type="text" id="chnp" class="inp2 form-control">
                <br><label for="confp">Confirm Password</label> <br>
                <input type="text" id="confp" class="inp2 form-control">
                <input type="Submit" class="bt1 btn btn-primary">
             </div>

           </form> 
</body>
</html>