<!DOCTYPE html>
<html>
<head>
	<title>Personal | Detail</title>
</head>
<body>
    
           <form class="f1 form-inline">
             <div class="form-group">
               <label for="first">Name</label><br>
               <input type="text" id="first"  class="inp1 form-control">
               <label for="last"></label>  
               <input type="text" id="last"  class="inp1 form-control">
              </div>
             </form>
             <form class="f2 form-inline"> 
               <div class="form-group" >
                <label for="email">Email</label> <br>
               <input type="email" id ="email" class="inp form-control">
                <br><label for="phone">Phone</label> <br>
               <input type="text" id="phone" class="inp form-control">
               <br> <label for="bir">Birthday</label> <br>
               <input type="text" id="bir" class="inp form-control">
               <input type="Submit"  class="bt1 btn btn-primary">
             </div>
           </form>

</body>
</html>